html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  background-color: #F5F5F5;
}
body section
{
  display: none;
}
body.home section#home,
body.login section#login,
body.novaconta section#novaconta,
body.jogos section#jogos,
body.incluirjogo section#incluirjogo,
body.usuarios section#usuarios
{
  display: block;
}
body.jogos a[href="#jogos"],
body.incluirjogo a[href="#jogos"],
body.usuarios a[href="#usuarios"]
{
  color: #FFFFFF !important;
}
.nav-item
{
  display: none;
}
.navbar-brand
{
  font-weight: bold;
}
.container {
  padding: 60px 15px 0;
}
.col-centered
{
  float: none;
  margin: 0 auto;
}
#selecionarUsuarioEmprestimo {
  display: none;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #343A40;
}
.footer .link
{
  color: rgba(255,255,255,.5);
  font-weight: bold;
}